%table{style:'margin: auto; width:85%'}

  %thead
    %th{colspan:2}
      %h1.center-text Teachers

  %tr
    %th Name
    %th

  - @teachers.each do |teacher|
    %tr.center-text
      %td= link_to teacher.name, teacher
      - if can? :manage, :all
        %td
          = link_to 'Edit', edit_user_path(teacher), class:'tiny button'
          = link_to 'Destroy', teacher, :method => :delete, :data => { :confirm => 'Are you sure?' }, class:'tiny button'
  
  - if can? :manage, :all
    %tr
      %td.center-text{colspan:2}
        = link_to 'New Teacher', new_user_path, class:'button'
