
.large-5.columns
  %p{style:'font-size:43px;font-weight:800'}
    TRANSFORMING THINKERS 
    INTO CREATORS

.large-7.columns
  %p
    = image_tag 'Ed-comm-campus.png', style:'height:400px;width:700px'

%p.center-text
  %a.button{href:'/apply'} Apply Now

