%table{style:'margin:auto'}
  %thead
    %th{colspan: 5}
      %h2.center-text= title

  %tr
    %th Monday
    %th Tuesday
    %th Wednesday
    %th Thursday
    %th Friday

  %tr
    - ['Monday', 'Tuesday','Wednesday','Thursday','Friday'].each do |weekday|
      %td
        - (schedules.select { |x| x.time_slot.day == weekday }).each do |x|
          = "#{x.time_slot.print_times} #{x.room.name}"
          %br
          %br